html,body{height: 100%;}
*{margin:0; padding:0; color:inherit; box-sizing:border-box; text-decoration: inherit;}
*:before, *:after {box-sizing:border-box;}

body{color:#222; font-size:14px; touch-action:pan-x pan-y;}
ul, ol{list-style: none;}
table{border-spacing: 0; border-collapse: collapse;}
select,textarea,input{box-sizing: border-box;}
select {-webkit-appearance:none; -moz-appearance:none; appearance:none;}
button{border:none; background: none; cursor: pointer;}
iframe,fieldset{border:none;}
.hidden{position: fixed; left:-10000px}
.clearfix::after{content:""; display: block; clear: both;}

input {vertical-align:middle;}
input[type="text"], input[type="email"], input[type="number"], input[type="tel"], input[type="password"], input[type="url"], input[type="search"], input[type="file"], textarea {height:42px; padding:0 15px; background-color:#fff; border:1px solid #e8e5e2; border-radius:0; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; -o-appearance:none;}

button {border:0; cursor:pointer;}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {display: none;}

em {font-style:normal;}

img {max-width:100%;}

a {word-break:break-all;}