html {
  font-size:100%;
}

.lockbody {
  overflow: hidden;
}

.docTopBanner {
  height: 50px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  .txt {
    padding: 0 20px;
    color: #fff;
    font-size: 14px;
    display: block;
  }

  .btnClose {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    font-size: 0;
    position: relative;

    &:before,
    &:after {
      width: 13px;
      margin-left: 2px;
      border-top: 1px solid #fff;
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

.form_group {
  >li+li {
    margin-top: 20px;
  }

  .form_tit {
    margin-bottom: 10px;
    font-size: 14px;
  }
}

.multi_form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}

.title_wrap {
  max-width: 1320px;
  margin: 0 auto;
  padding: 60px 0;
  position: relative;
  z-index: 2;
  display: flex;

  h2 {
    font-size: 38px;
    font-weight: 300;
    position: relative;

    .pdt_count {
      margin-left: 5px;
      padding: 3px 6px;
      color: #fff;
      font-size: 13px;
      white-space: nowrap;
      background-color: #00BC70;
      border-radius: 999px;
      position: absolute;
      top: 0;
      left: 100%;
      display: block;
    }
  }
}

.pdtSortTab_wrap, .pdt_sort {
  margin-top: 16px;
  margin-left: auto;
  position: relative;
  display: flex;
  align-items: center;

  button {
    padding: 0 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43em;
    letter-spacing: -0.01em;
    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: 16px;
      height: 16px;
      margin-left: 10px;
      display: inline-block;
    }
  }
}

.sortTab {
  position: relative;

  >button::after {
    background-image: url('/_nuxt/assets/images/common/PC-icon_split.png');
    background-size: 250px;
    background-repeat: no-repeat;
    background-position: -110px -60px;
  }

  &~button {
    position: relative;

    &::after {
      background-image: url('/_nuxt/assets/images/common/PC-icon_split.png');
      background-size: 250px;
      background-repeat: no-repeat;
      background-position: -130px -60px;
    }

    &::before {
      content: '';
      width: 1px;
      height: 14px;
      background: #EEEEEE;
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      transform: translateY(-50%);
    }
  }

  ul {
    width: 170px;
    height: 0px;
    padding: 10px 0;
    background: #fff;
    position: absolute;
    left: -70px;
    top: 45px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.2s;

    li {
      padding: 10px 15px;

      a {
        color: #888;
        font-size: 14px;
        transition: all 0.1s;

        &.active {
          color: #00BC70;
        }
      }
    }
  }
}

/* modal */
.modal_wrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: none;

  &.active {
    display: block;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .modal_container {
    max-height: calc(100% - 40px);
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);

    .modal_header {
      padding: 20px;
      border-bottom: 1px solid #eee;

      .tooltip {
        vertical-align:middle;
      }

      .btn_close {
        width: 24px;
        height: 24px;
        font-size: 0;
        background-color: transparent;
        position: absolute;
        top: 20px;
        right: 20px;

        &:before,
        &:after {
          width: 100%;
          border-top: 1px solid #222;
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          display: block;
        }

        &:before {
          transform: rotate(45deg);
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

      .explain {
        margin-top:5px;
        color:#999;
        font-size:12px;
        font-weight:300;
      }
    }

    .modal_footer {
      padding: 20px;
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        &.btn_reset {
          width: 180px;
          background-color: #EEEEEE !important;

          em {
            color: #666666 !important;
            display: flex;
            align-items: center;

            &::before {
              width: 24px;
              height: 24px;
              background-image: url('/_nuxt/assets/images/common/PC-icon_split.png');
              background-repeat: no-repeat;
              background-size: 250px auto;
              background-position: -171px -95px;
              content: '';
              display: inline-flex;
            }
          }
        }

        &.btn_type_02 {
          background-color: #00BC70;
          flex: 1;

          em {
            color: #fff !important;
          }
        }

        em {
          font-size: 16px;
          font-weight: 600;
        }
      }
    }

    .modal_content {
      max-height: 100%;
      padding: 30px;
      overflow: auto;
      flex: 1;

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        background-clip: padding-box;
        border: 3px solid transparent;
        border-radius: 8px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }
    }
  }

  &.full {
    .modal_container {
      width: calc(100% - 40px);

    }
  }

  &.alert {
    .modal_container {
      width: 480px;
      max-width:calc(100% - 40px);

      .modal_footer {
        padding: 0;
        gap: 0;

        [class*='btn_'] {
          height: 60px;
          font-size: 16px;
          flex: 1;
        }
      }
    }
  }

  &.bottom {
    .modal_container {
      max-height: calc(100vh - 20px);
      border-top-left-radius: 20px 20px;
      border-top-right-radius: 20px 20px;
      top: initial;
      right: 0;
      bottom: 0;
      left: 0;
      transform: initial;
      animation-duration: 0.25s;
      animation-name: show_up;

      .modal_header {
        width: 100%;
        border-bottom: 0;
        position: relative;

        .btn_close {
          width: 61px;
          height: 5px;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &::before {
            width: 61px;
            height: 5px;
            border-radius: 100px;
            border-top: 0;
            background-color: #DDDDDD;
            position: absolute;
            transform: rotate(0deg);
          }

          &::after {
            display: none;
          }
        }
      }

      .modal_content {
        padding: 0 0 34px;
      }
    }
  }

  &[class*="layer"] {
    overflow:initial;
    position:absolute;
    .modal_container {
      max-height:initial;
      box-shadow:5px 5px 20px rgba(0, 0, 0, 0.15);
      top:0;
      left:0;
      transform:translate(0,0);
    }
    .overlay {
      display:none;
    }
  }

  &.fullMo {
    .modal_container {
      width:100%;
      height:100%;
      max-height:100%;
      .modal_header {
        padding:1.7rem 2.1rem;
        border:0;
        h2 {
          font-size:1.8rem;
          font-weight:500;
          line-height:2.4rem;
        }
        .btn_close {
          width:2.5rem;
          height:2.5rem;
          right:1.6rem;
          top:1.6rem;
        }
      }
      .modal_content {
        padding:0;
      }
    }
    .overlay {
      display:none;
    }
  }

  //쇼핑로그 공통 스타일
  &.detailSearch {
    .modal_container {
      width: 480px;
      min-height: calc(100vh + 20px);
      left: 100%;
      bottom: 0;
      transform: translate(-100%, -50%);
      animation-duration: 0.25s;
      animation-name: show_left;

      .modal_header {
        padding: 50px 40px 0;
        border-bottom: 0;

        h2 {
          font-size: 24px;
          font-weight: 600;
          line-height: 1.33em;
          letter-spacing: -0.01em;
        }

        .btn_close {
          top: 45px;
          right: 40px;
        }

      }

      .modal_content {
        padding: 40px;
        flex: 0 auto;
      }

      .modal_footer {
        gap: 0px !important;
      }
    }
  }

  &#sample_modal_search {
    .modal_container {
      max-height: 100%;
      top: 45%;
      border-top-left-radius: 20px 20px;
      border-top-right-radius: 20px 20px;

      .modal_header {
        padding: 25px !important;
      }

      .modal_footer {
        padding: 0 !important;
        gap: 0px !important;
      }
    }
  }
}

ul.select_list {
  li {
    padding: 15px 26px;
    border-bottom: 1px solid #F5F5F5;

    &:last-of-type {
      border-bottom: 0;
    }

    &.active {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &::after {
        content: '';
        width: 22.4px;
        height: 22.4px;
        background-image: url('/_nuxt/assets/images/common/icon_split.png');
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: -203px -95px;
        display: inline-block;
      }

      a {
        color: #00BC70;
        font-weight: 700;
      }
    }

    a {
      color: #000000;
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
    }

  }
}


@keyframes show_up {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes show_left {
  from {
    transform: translate(0%, -50%);
    opacity: 0;
  }

  to {
    transform: translate(-100%, -50%);
    opacity: 1;
  }
}

.list_wrap {
  .ranking {
    width: 32px;
    height: 32px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    background-color: #000;
    position: absolute;
    top: 40px;
    left: 20px;
    z-index: 2;
    display: block;
  }
}

/* goods list */
.goods_list {
  margin-top: -40px;
  margin-left: -20px;
  display: flex;
  flex-wrap: wrap;

  >li {
    width: 20%;
    padding-top: 40px;
    padding-left: 20px;
    position: relative;
  }

  &.type_column {
    display:block !important;
    > li {
      width:100% !important;
    }
  }

}

.event_list {
  margin-top:-20px;
  margin-left:-20px;
  display:flex;
  flex-wrap:wrap;
  > li {
    width:33.3333%;
    padding-top:20px;
    padding-left:20px;
  }
}

.paging {
  overflow: hidden;
  margin: 90px 0 0;

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    a {
      width: 40px;
      height: 40px;
      color: #999;
      font-size: 16px;
      display: inline-block;
      line-height: 40px;

      &.first {
        width: 40px;
        height: 40px;
        background-image: url('/_nuxt/assets/images/common/PC-icon_split.png');
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: -120px -88px;
        transform: rotate(180deg);
        text-indent: -9999px;
      }

      &.last {
        width: 40px;
        height: 40px;
        background-image: url('/_nuxt/assets/images/common/PC-icon_split.png');
        background-repeat: no-repeat;
        background-size: 250px;
        background-position: -120px -88px;
        text-indent: -9999px;
      }

      &.active {
        color: #222;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0px;
          width: 50%;
          height: 3px;
          background: #00BC70;
          display: inline-block;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.sort_tab_wrap {
  margin-bottom: 25px;

  .sub_tab {
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tab_wrap {
      flex: 1;

      ul {
        flex-wrap: wrap;
      }
    }
  }
}

/* bullet list */
ul.bullet_list {
  > li {
    padding-left:11px;
    position:relative;
    & + li {
      margin-top:5px;
    }
    &:before {
      width:3px;
      height:3px;
      background-color:#999e9c;
      border-radius:50%;
      content:'';
      position:absolute;
      top:7px;
      left:0;
      display:block;
    }
  }
}

/* 텍스트 링크 with 오른쪽 화살표 */
a.btn_link_arrw {
  &:after {
    content: '';
    margin-left: 5px;
    width: 9px;
    height: 9px;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    display: inline-block;
    transform: rotate(135deg);
  }
}

.no_data {
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:center;
  &:before {
    width:60px;
    height:60px;
    margin-bottom:20px;
    background-color:#ccc;
    content:'';
    display:block;
  }
  strong {
    font-size:16px;
    font-weight:600;
  }
  span {
    margin-top:10px;
    color:#999;
    font-size:14px;
    font-weight:400;
  }
}

/* share modal layer */
.share_wrap {
  position:absolute;
  bottom:0;
  right:0;
  .btn_share {
    width:32px;
    height:32px;
    background:url('/assets/images/common/icon_split.png') no-repeat -170px -170px;
    background-size:250px auto;
  }
  #modal_share {
    .modal_container {
      top:-20px;
      right:0;
      left:unset;
      .modal_header {
        h2 {
          font-size:20px;
          font-weight:600;
          line-height:1.33em;
          letter-spacing:-0.01em;
        }
      }
      .modal_content {
        padding:30px 50px;
        .img {
          padding:0 30px;
          display:flex;
          gap:0 20px;
          img {
            max-width:unset;
            width:60px;
            height:60px;
          }
        }
      }
    }
  }
}
