@import "~/assets/scss/_mo_mixin";

@include mo_749 {
}

/* goodsItem */
:deep(.goods_item) {
  padding-bottom:calc(24px + 1rem);
  .img_wrap {
    position:static;
    &:before {
      display:none !important;
    }
    .thumb {
      width:16.5rem;
      height:22.0rem;
    }
    .btnIconBox {
      background-color:transparent;
      position:absolute;
      bottom:0;
      gap:1rem;
      justify-content:start;
      transform:translateY(0);
      button {
        padding:0;
        em {
          width:24px;
          height:24px;
          background-image:url('~/assets/mo_images/common/icon_split.png');
          background-size:250px auto;
        }
        &.btn_heart em {
          background-position:-140px -40px;
        }
        &.btn_cart em {
          background-position:-170px -40px;
        }
        &.btn_buy em {
          background-position:-200px -40px;
        }
      }
    }
  }
  &.sold_out, &.coming_soon {
    .img_wrap {
      a {
        position:relative;
        &:before, &:after {
          content:'';
          display:block;
        }
        &:before {
          background-color:rgba(0,0,0,0.3);
          background-position:50%;
          background-repeat:no-repeat;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          z-index:1;
        }
      }
    }
  }
  &.sold_out {
      .img_wrap a:before {
          background-image:url('/_nuxt/assets/images/ui/overlay_soldout.png');
      }
    }
    &.coming_soon {
      .img_wrap a:before {
          background-image:url('/_nuxt/assets/images/ui/overlay_comingsoon.png');
      }
    }
  .cont {
    > .price {
      margin-top:0.6rem;
      margin-bottom:1rem;
      strong {
        margin-right:0.5rem;
        font-size:1.4rem;
      }
      span {
        font-size:1.2rem;
      }
      em {
        font-size:1rem;
        display:block;
      }
    }
    .name {
      font-size:1.4rem;
      strong {
        color:#000;
        overflow:hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        .cate {
          margin:0;
        }
      }
    }
    .review_score {
      margin-top:1.0rem;
      font-size:1.0rem;
    }
    .sticker em {
      padding:3px 5px;
      font-size:1rem;
    }
  }
}
/* //goodsItem */

/* eventitem */
:deep(.event_item) {
  .item {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    .thumb {
      width:160px;
      padding-top:0;
      em {
        position:static;
      }
    }
    .cont {
      height:auto;
      margin-top:0;
      padding:0 2rem;
      display:flex;
      flex:1;
      flex-direction:column-reverse;
      strong {
        margin-top:0;
        font-size:1.4rem;
      }
      .date {
        margin-top:1.6rem;
        font-size:1.2rem;
      }
      .sticker {
        padding:0.2rem 0.5rem;
        font-size:1rem;
      }
    }
  }
}
/* //eventitem */

/* liveitem */
:deep(.live_item) {
  .img_wrap {
    .thumb {
      height:auto;
      padding-top:133.333333%;
      position:relative;
      & > em {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
      }
    }
    .notice {
      padding:1rem;
      font-size:1.2rem;
      line-height:1.6rem;
    }
    .event_item {
      right:1rem;
      bottom:1rem;
      left:1rem;
      .thumb {
        width: 3.6rem;
        height: 4.8rem;
      }
      .cont {
        padding:1rem 0.8rem 1rem 1rem;
        strong {
          font-size:1.2rem;
          line-height:1.6rem;
        }
      }
    }
  }
  .cont {
    .name {
      padding-top: 1.5rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
    button em {
      font-size:1rem;
    }
  }
}
/* //liveitem */

/* hash */
:deep(.hash) {
  button {
    font-size:1rem;
  }
}


/* 토픽 아이콘 스타일(조회수, 좋아요수, 댓글수, 시계(날짜)) */
:deep(.post_icons) {
  margin-top: 1rem;
  padding-top: 1rem;
  gap: .4rem;
  border-top: 1px solid #f5f5f5;
  align-items: center;
  display: flex;

  .i {
    font-size: 1.2rem;
    color: #888;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex: 1;

    &:before {
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      background-image: url('/assets/mo_images/common/icon_split.png');
      background-repeat: no-repeat;
      background-size: 25rem auto;
    }

    &.view:before {
      background-position: 0 -10.5rem;
    }

    &.like:before {
      background-position: -2rem -10.5rem;
    }

    &.cmnt:before {
      background-position: -4rem -10.5rem;
    }

    &.clock:before {
      background-position: -19rem -10rem;
    }
  }
}
/* //토픽 아이콘 스타일 */


/* 텍스트 링크 with 오른쪽 화살표 */
:deep(a.btn_link_arrw) {
  font-size: 1.2rem;
  &:after {
    width: .8rem;
    height: .8rem;
  }
}
/* //텍스트 링크 with 오른쪽 화살표 */

/* icon button */
:deep(button) {
  &.tooltip {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    background-image:url('~/assets/mo_images/common/icon_split.png');
    background-size:25rem auto;
    background-position:-23rem -2rem;
  }
}

/* 일치하는 상품 X */
.no_content {
  font-size:1.5rem;
  font-weight:600;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  &:before {
  content:'';
  width:6rem;
  height:6rem;
  margin:2rem 0;
  background:url('/_nuxt/assets/mo_images/common/icon_split.png') no-repeat -6.5rem -10rem;
  background-size:25rem auto;
  display:block;
  }
}


/* input component */
:deep(.label_wrap) {
  label.input {
    i {
      font-size: 1.4rem;
      left: 2.1rem;
      top: 50%;
    }
  }

  label.input input[type='text'],
  label.input input[type='password'],
  label.input input[type='number'] {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  input[type=text],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=password],
  input[type=url],
  input[type=search],
  input[type=file],
  textarea{
    height: 4.8rem;
    padding: 0 2.1rem;
  }
}



/* 포스트 리스트 */
/** 격자형 **/
:deep(.post_list) {
  gap: 3rem .3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  li {
    width: 16.5rem;
  }
}
/** 리스트형 **/
:deep(.post_list_vertial) {
  margin-bottom: 3rem;

  li {
    & + li {
      margin-top: 2.5rem;
    }
  }
}
/* //포스트 리스트 */
