@import "~/assets/scss/_mo_mixin";

@include mo_749 {
}

#wrap {
  min-width:initial;
}

:deep(.title_wrap) {
  max-width:initial;
  margin:3.0rem 0 2.0rem;
  padding:0;
  h2 {
    .badge {
      padding: 0;
      color:#000;
      font-size:1.2rem;
      background-color:#fff;
      position:static;
      display:flex;
      align-items:center;
      gap:0.5rem;
      transform:initial;
      em {
        color:#2FAF63;
      }
    }
  }

  .renewal {
    color: #999;
    font-size: 1.2rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;

    &:after {
      content: '';
      width: 10px;
      height: 10px;
      background: url('~/assets/images/common/icon_split.png') no-repeat -190px -20px;
      background-size: 250px auto;
      display: inline-block;
    }
  }
}

:deep(.sub_title_wrap) {
  width:initial;
  max-width:initial;
  margin:3.0rem 0 2.0rem;
  padding:0;
  display:flex;
  justify-content:space-between;

  &.mt0 {
    margin-top: 0;
  }

  h3 {
    font-size:1.8rem;
    line-height:2.4rem;
    position:relative;
    flex:1;
    strong {
      color:#009d5e;
    }
    .badge {
      color:#000;
      font-size:1.4rem;
      font-weight:600;
      position:static;
      display:flex;
      align-items:center;
      gap:0.5rem;
      em {
        color:#666;
        font-size:1rem;
        font-weight:400;
      }
    }
    button.tooltip {
      margin-left: 0.8rem;
    }
  }
  h4 {
    font-size:1.6rem;
    line-height:2rem;

    .explain {
      margin-top: 0.5rem;
      color: #AAA;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.6rem;

    }
    em {
      color: #00BC70;
    }
  }
  .explain {
    margin-top: 1rem;
    color: #AAA;
    font-size: 1.3rem;
    font-weight: 400;
    white-space: pre-line;
  }
  .btn_link_arrw {
    min-width:1.5rem;
    margin-left:auto;
    position:static;
    &:after {
      margin-top:0.8rem;
    }
  }
  .btn_all {
    height:fit-content;
    padding:0.6rem 0.8rem;
    display:flex;
    align-items:center;
    gap:0 0.3rem;
    em {
      padding:0;
      font-size:1rem;
      font-weight:600;
      line-height:1.2rem;
    }
    &:after {
      content:'';
      display:inline-block;
      width:1.2rem;
      height:1.2rem;
      background:url('~/assets/mo_images/common/icon_split.png') no-repeat -23rem -10rem;
      background-size:25rem auto;
    }
  }
}

:deep([class*="title_wrap"]) {
  .pdtSortTab_wrap {
    margin-top:0;
    button {
      font-size:1.2rem;
      &:after {
        width:1.6rem;
        height:1.6rem;
        margin-left:0.5rem;
        background-size:25rem;
        background-position:-11rem -6rem;
      }
    }
  }
  .sortTab ~ button {
    margin-left:2rem;
    padding-left:0;
    &:before {
      display:none;
    }
    &:after {
      background-position:-13rem -6rem;
    }
  }
}

/* goods list */
:deep(.goods_list) {
  gap: 4rem .3rem;
  &.col_3 {
    gap: 2rem .3rem;
    > li {
      width: 10.9rem;
      .goods_item {
        width: 10.9rem;
        .img_wrap {
          .thumb {
            height: 14.5rem;
          }
        }
      }
    }
  }

  .ranking {
    width: 2.4rem;
    height: 2.4rem;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
}

:deep(.swiper_wrap) {
  .goods_slide {
    width: 14rem;
    .goods_item {
      position: relative;
      width: 14rem;

      .thumb {
        height: 18.6rem;
      }

      .review_score {
        display: none;
      }
    }
  }
}


/* goodsItem */
:deep(.goods_item) {
  width: 16.5rem;
  padding-bottom:calc(24px + 1rem);
  position: relative;

  .img_wrap {
    position:static;
    &:before {
      display:none !important;
    }
    .top_sticker {
      height: 2.4rem;
      line-height: 2.4rem;
    }
    .thumb {
      width:100%;
      em {
        height: 100%;

        &.overflip {
          display: none;
        }
      }
    }
    .btnIconBox {
      background-color:transparent;
      position:absolute;
      bottom:0;
      gap:1rem;
      justify-content:start;
      transform:translateY(0);
      button {
        padding:0;
        em {
          width:24px;
          height:24px;
          padding:0;
          background-image:url('~/assets/mo_images/common/icon_split.png');
          background-size:250px auto;
        }
        &.btn_heart {
          em {
            background-position:-140px -40px;
          }
          &.on {
            em {
              background-position:-180px -70px;
            }
          }
        }
        &.btn_cart em {
          background-position:-170px -40px;
        }
        &.btn_buy em {
          background-position:-200px -40px;
        }
      }
    }
  }
  &.sold_out, &.coming_soon, &.end {
    .img_wrap {
      a {
        position:relative;
        &:before, &:after {
          content:'';
          display:block;
        }
        &:before {
          background-color:rgba(0,0,0,0.3);
          background-position:50%;
          background-repeat:no-repeat;
          background-size: 60%;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          z-index:1;
        }
      }
    }
  }
  &.sold_out {
    .img_wrap a:before {
        background-image:url('~/assets/images/ui/overlay_soldout.png');
    }
  }
  &.coming_soon {
    .img_wrap a:before {
        background-image:url('~/assets/images/ui/overlay_comingsoon.png');
    }
  }
  &.end {
    .img_wrap a:before {
        background-image:url('~/assets/images/ui/overlay_end.png');
    }
  }
  .cont {
    > .price {
      margin-top:0.6rem;
      margin-bottom:1rem;
      strong {
        margin-right:0.5rem;
        font-size:1.4rem;
      }
      span {
        font-size:1.2rem;
      }
      em {
        font-size:1rem;
        display:block;
      }
    }
    .name {
      font-size:1.4rem;
      strong {
        color:#000;
        .cate {
          margin:0;
        }
      }
    }
    .review_score {
      margin-top:1.0rem;
      font-size:1.0rem;
    }
    .sticker em {
      padding:3px 5px;
      font-size:1rem;
    }
  }

  &.type_column {
    width: 100%;
    padding-bottom: 0;
    align-items: center;

    .img_wrap {
      .thumb {
        width: 9rem;
      }
    }
    .cont {
      .price {
        em {
          display: inline;
        }
      }
    }

    &.type_cart { /* .type_column.type_cart */
      .img_wrap {
        position: static;
        .btnIconBox {
          display: flex;
          position: absolute;
          top: 50%;
          transform: translate(-50%);
          bottom: auto;
          right: 0;
          left: auto;
          z-index: 2;
          gap: 0;
        }
      }
    }
  }

  &.type_cart { /* .type_cart */
    padding-bottom: 0;

    .img_wrap {
      position: relative;

      .btnIconBox {
        position: absolute;
        bottom: .5rem;
        right: 0px;
        justify-content: end;
        gap: .5rem;

        .btn_heart,
        .btn_buy {
          display: none;
        }
      }
    }
  }
}
/* //goodsItem */

/* eventitem */
:deep(.event_item) {
  &.type_02 {
    .item {
      .thumb {}
      .cont {
        padding: 2rem 2.1rem;

        strong {
          min-height:auto;
          margin:0;
          font-size:1.6rem;
          line-height:2rem;
          display:flex;
          align-items:center;
          justify-content:space-between;

          &:after {
            width:2.4rem;
            height:2.4rem;
            background:url('~/assets/mo_images/common/icon_split.png') -0.5rem -21.4rem no-repeat;
            background-size:25rem auto;
            content:'';
            display:block;
            transform: rotate(-90deg);
          }
        }

        .date {
          margin-top: 1rem;
          font-size: 1.2rem;
          line-height: 1.6rem;
        }
      }
    }
  }
}
/* //eventitem */

/* liveitem */
:deep(.live_item) {
  .img_wrap {
    .thumb {
      height:auto;
      padding-top:133.333333%;
      position:relative;
      & > em {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
      }
    }
    .notice {
      padding:1rem;
      font-size:1.2rem;
      line-height:1.6rem;
    }
    .event_item {
      right:1rem;
      bottom:1rem;
      left:1rem;
      .thumb {
        width: 3.6rem;
        height: 4.8rem;
      }
      .cont {
        padding:1rem 0.8rem 1rem 1rem;
        strong {
          font-size:1.2rem;
          line-height:1.6rem;
        }
      }
    }
  }
  .cont {
    .name {
      padding-top: 1.5rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
    button em {
      font-size:1rem;
    }
  }
}
/* //liveitem */

/* hash */
:deep(.hash) {
  button {
    font-size:1rem;
  }
}

.giveaway_list {
  dd {
    font-size:1.3rem;
    em {
      font-size:1.2rem;
    }
  }
}

/* 증정품 리스트 */
:deep(.giveaway_list) {
  dl {
    dt {
      width: 8.8rem;
    }
    dd {
      p {
        font-size: 1.3rem;
      }
      span {
        font-size: 1.2rem;
      }
    }
  }
}

/* 토픽 아이콘 스타일(조회수, 좋아요수, 댓글수, 시계(날짜)) */
:deep(.post_icons) {
  margin-top: 1rem;
  padding-top: 1rem;
  gap: .4rem;
  border-top: 1px solid #f5f5f5;
  align-items: center;
  display: flex;

  .i {
    font-size: 1.2rem;
    color: #888;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex: 1;

    &:before {
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      background-image: url('/assets/mo_images/common/icon_split.png');
      background-repeat: no-repeat;
      background-size: 25rem auto;
    }

    &.view:before {
      background-position: 0 -10.5rem;
    }

    &.like:before {
      background-position: -2rem -10.5rem;
    }

    &.like.active:before {
      background: url(/_nuxt/assets/mo_images/common/icon_split.png) -12rem -4.67rem / 16.5rem auto repeat;
    }

    &.cmnt:before {
      background-position: -4rem -10.5rem;
    }

    &.clock:before {
      background-position: -19rem -10rem;
    }
  }
}
/* //토픽 아이콘 스타일 */


/* 텍스트 링크 with 오른쪽 화살표 */
:deep(.btn_link_arrw) {
  font-size: 1.2rem;
  &:after {
    width: .8rem;
    height: .8rem;
  }
}
/* //텍스트 링크 with 오른쪽 화살표 */

/* icon button */
:deep(button) {
  &.tooltip {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    background-image:url('~/assets/mo_images/common/icon_split.png');
    background-size:25rem auto;
    background-position:-23rem -2rem;
  }
}

/* 일치하는 상품 X */
:deep(.no_content) {
  font-size:1.5rem;
  font-weight:600;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  &:before {
  content:'';
  width:6rem;
  height:6rem;
  margin:2rem 0;
  background:url('~/assets/mo_images/common/icon_split.png') no-repeat -6.5rem -10rem;
  background-size:25rem auto;
  display:block;
  }
}


/* input component */
:deep(.label_wrap) {
  label.input {
    i {
      font-size: 1.4rem;
      left: 2.1rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  label.input input[type='text'],
  label.input input[type='password'],
  label.input input[type='number'] {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  input[type=text],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=password],
  input[type=url],
  input[type=search],
  input[type=file],
  textarea{
    height: 4rem;
    padding: 0 1.5rem;
  }
}



/* 포스트 리스트 */
/** 격자형 **/
:deep(.post_list) {
  gap: 3rem .3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  li {
    width: 16.5rem;
  }
}
/** 리스트형 **/
:deep(.post_list_vertial) {
  margin-bottom: 3rem;

  li {
    & + li {
      margin-top: 2.5rem;
    }
  }
}
/* //포스트 리스트 */


/* 에디터 마크 */
:deep(.mark_editor) {
  gap: .2rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  color: #00BC70;
  display: inline-flex;
  align-items: center;

  &:before {
    content: '';
    width: 2rem;
    height: 2rem;
    background: url('~/assets/mo_images/common/icon_split.png') -20.8rem -9.8rem / 25rem auto no-repeat;
    display: inline-block;
    padding: .2rem;
  }
}

:deep(.list_wrap) {
  .allChk_wrap {
    margin:1rem 0;
  }
  .type_default {
    border-top:1px solid #f5f5f5;
    border-bottom:1px solid #eee;
    .row {
      margin-top:3rem;
      margin-bottom:3rem;
      padding:0;
      position:relative;
      display:block;
    }
  }
}

/* cart list */
:deep(.cart_list) {
  .cell {
    &.del {
      position:absolute;
      top:0;
      right:0;
    }
    &.check {
      margin:0.2rem 0 0.7rem;
    }
  }
  .pdt_img {
    width:6.9rem;
    float:left;
    .thumb {
      padding-top:133.333333%;
      position:relative;
      display:block;
      em {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
      }
    }
  }
  .pdt_info {
    margin-right:0;
    flex:1;
    .name {
      display:flex;
      flex-direction:column-reverse;
      a {
        font-size:1.4rem;
        letter-spacing: -0.01em;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .alt {
        margin-top:0;
        margin-bottom:1rem;
        display:flex;
        flex-wrap:wrap;
        gap:0.3rem;
        span {
          padding:0.2rem 0.5rem;
          color:#00BC70;
          font-size:1rem;
          font-weight:400;
          background-color:#E0FBF0;
          display:inline-block;
        }
      }
      &:after {
        clear:both;
        content:'';
        display:block;
      }
    }
    .select {
      margin-top:20px;
      display:block;
      &:before {
        clear:both;
        content:'';
        display:block;
      }
    }
  }
  .addOrder {
    margin-top:1rem;
    > li {
      padding:1.5rem;
      background-color:#F7F9FA;
      position:relative;
      & + li {
        margin-top:0.3rem;
      }
      .title {
        & + .opt_wrap {
          margin-top:1rem;
        }
      }
      .opt_wrap {
        text-align:right;
        display:flex;
        align-items:center;
      }
      button.del {
        width:2rem;
        height:2rem;
        background-color:#d4e2dd;
        border-radius:50%;
        position:absolute;
        top:1rem;
        right:1rem;
        &:before, &:after {
          width:1.3rem;
          margin-top:-0.05rem;
          margin-left:-0.6rem;
          border-color:#fff;
        }
      }
    }
  }
  .count {
    width:auto;
    display:flex;
    flex-direction:column;
    .count_wrap {
      width:10.0rem;
      padding:0.7rem;
      background-color:#fff;
      border:0.1rem solid #eee;
      display:flex;
      button {
        width:1.6rem;
        height:1.6rem;
        background-color:#fff;
        em {
          padding:0;
          color:#000;
        }
        &.icon_del {
          display:none !important;
        }
      }
      input {
        height:1.6rem;
        padding:0;
        border:0;
        text-align:center;
      }
    }
  }
  .price {
    margin-left:auto;
    align-items:end;
    p, .point {
      text-align:right;
    }
    p {
      display:flex;
      align-items:center;
      flex-direction:row-reverse;
      strong {
        font-size:1.6rem;
        white-space:nowrap;
        em {
          font-size:1.3rem;
        }
      }
    }
    .point {
      margin:0 0.5rem 0;
      color:#009D5E;
      font-size:1.2rem;
    }
    span {
      margin-bottom:0;
      color:#d72137;
      font-size:1.3rem;
    }
    button {
      em {
        font-size:12px;
      }
    }
  }
}


/* selectbox */
:deep(select) {
  padding: 1rem 4rem 1rem 1.5rem;
}
:deep(label.select){
  & > div {
    select {
      color: #000;
    }

    &:after {
      width: .8rem;
      height: .8rem;
      right: 1.2rem;
    }
  }
}

:deep(.review_header) {
  .user_info {
    > * {
      font-size:1.2rem;
    }
  }
}


/* modal */
:deep(.modal_wrap.bottom){
  .modal_container {
    .modal_footer {
      padding: 0;
      display: flex;
      gap: 0;
      justify-content: flex-start;

      button {
        &.btn_reset {
          width: 13.5rem;
          background-color: #EEEEEE !important;

          em {
            color: #666666 !important;
            display: flex;
            align-items: center;

            &::before {
              width: 24px;
              height: 24px;
              background-image: url('~/assets/images/common/icon_split.png');
              background-repeat: no-repeat;
              background-size: 250px auto;
              background-position: -171px -95px;
              content: '';
              display: inline-flex;
            }
          }
        }
      }
    }
  }

  &.filter {
    .modal_content {
      margin: 0 2.6rem;
      padding: 2rem 0 4rem;
      border-top: 0.1rem solid #EEE;

      p {
        margin-bottom:1rem;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: -0.01em;

        & ~ p {
          margin-top:3rem;
        }
      }
    }

    .modal_footer {
      position:unset;
    }
  }


  &.nav {
    .modal_content {
      padding:0;

      ul {
        li {
          &:first-child {
            a {
              border-top:0;
            }
          }

          &.active {
            a {
              color:#00bc70;
              font-weight:700;

              &::after {
                content:'현재 선택';
                width:16px;
                height:16px;
                color:transparent;
                font-size:0;
                background-image:url('~/assets/mo_images/common/icon_split.png');
                background-repeat:no-repeat;
                background-position:-80px -70px;
                background-size:250px auto;
                display:block;
              }
            }
          }

          a {
            width:100%;
            padding:15px 26px;
            text-align:left;
            border-top:1px solid #f5f5f5;
            color:#000;
            font-weight:300;
            font-size:16px;
            display:flex;
            align-items:center;
            justify-content:space-between;
          }
        }
      }
    }
  }
}

:deep(.modal_wrap.alert) {
  &.modal_cart {
    .modal_header {
      padding: 0;
      border-bottom: 0;

      .btn_close {
        width: 20px;
        height: 20px;
        font-size: 0;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 10px;
      }

      h2 {
        padding: 3rem 2rem 0;
        font-size: 1.8rem;
      }
    }

    .modal_content {
      padding: 3rem 2rem;

      .cart_box {
        .row {
          display: flex;
          gap: 1.5rem;

          .pdt_img {
            width: 6rem;
            flex-shrink: 0;
          }

          .pdt_info {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            .name {
              font-size: 1.3rem;
              line-height: 1.6rem;
              text-overflow: ellipsis;
              white-space: normal;
              word-wrap: break-word;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
            }

            .price {
              font-size: 1.2rem;
              line-height: 1.6rem;

              em {
                font-weight: 300;
                font-size: 1rem;
                color: #999;
                text-decoration: line-through;
                margin-left: .5rem;
              }
            }
          }

          & + .input_wrap {
            text-align: right;
            margin: 1rem 0;
          }
        }

        .total {
          margin-top: 2rem;
          padding-top: 2rem;
          border-top: 1px solid #EEE;
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;

          .price {
            margin: 0 0 0 1rem;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            color: #00BC70;
            display: flex;
            align-items: center;

            em {
              margin-right: .3rem;
              font-weight: 700;
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}

:deep(.modal_wrap.toast) {
  .modal_container {
    width:calc(100% - 60px);
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -80%);

    .modal_header {
      display:none;
    }
    .modal_content {
      padding:1.0rem;
      color:#fff;
      font-size:1.3rem
    }
    .modal_footer {
      display:none;
    }
  }
  .overlay {
    display:none;
  }
  &.active {
    .modal_container {
      animation-duration: 0.5s;
      animation-name: toast_up;
    }
  }
}



/* ProdSelectbox */
:deep(.prod_select) {
  .btn_select {
    height: 4rem;

    &:after {
      width: .8rem;
      height: .8rem;
      margin-top: -.4rem;
      border: .1rem solid #000;
      border-top: 0;
      border-left: 0;
      position: absolute;
      top: 50%;
      right: 1.7rem;
    }
  }

  .op_list {
    max-height: 24.6rem;
    top: 3.9rem;
  }

  .selected_list {
    max-height: 18.1rem;

    li {
      padding: .5rem 1rem;

      .name {
        font-size: 1.3rem;
      }

      .quantity_control {
        .count {
          width: auto;

          .count_wrap {
            align-items: center;

            .input_wrap {
              input {
                width: 2.4rem;
              }
            }
          }
        }
      }
    }
  }
}


/* 쇼핑로그 */
:deep(.shopping_log_wrap) {
  .svc_banner {
    padding: 1.2rem 2.8rem;
    background-position: center center;
    p {
      padding-left: 1rem;
    }

    .btn_ui_wrap {
      span.btn {
        width: 12rem;
        font-size: 1.3rem;
      }
    }
  }

  .shopping_log {
    h2 {
      display: flex;
      align-items: center;

      em {
        color: #00BC70;
      }

      &+p {
        margin-top: .5rem;
        font-size: 1.2rem;
        color: #999;
      }
    }

    .no_data {
      margin: 3rem 0 0;
      padding: 3rem 0;
      font-size: 1.6rem;
      color: #000;
      background-color: #f5f5f5;

      &:before {
        content: none;
      }

      span {
        display: none;
      }
    }

    .goods_list {
      &:after {
        left: 3rem;
      }

      & > li {
        width: 100%;

        & + li {
          margin-top: 0;
        }

        .search_item {
          a {
            padding-left: 1rem;

            .thumb {
              width: 4rem;
              height: 4rem;

              em {
                width: 1.5rem;
                height: 1.5rem;
                background: url("/_nuxt/assets/images/common/icon_split.png") -13.6rem -20.1rem / 18rem auto no-repeat
              }
            }
          }
        }

        .goods_item {
          padding-bottom: 0;
          position: relative;

          a {
            width: 100%;
          }

          .img_wrap {
            width: 6rem;
            height: 8rem;

            .thumb {
              width: 6rem;
            }

            .btnIconBox {
              display: block;
              position: absolute;
              right: 0;
              left: auto;
              bottom: .5rem;
              z-index: 3;

              .btn_cart,
              .btn_buy {
                display: none;
              }
            }
          }

          .cont {
            .price {
              margin-bottom: 1.5rem;
              em {
                display: inline-block;
              }
            }
          }
        }

        .event_item {
          .item {
            .thumb {
              width: 6rem;
              height: 4rem;
            }
          }
        }

        .search_item,
        .goods_item,
        .event_item {
          .cont {
            strong {
              font-size: 1.3rem;
              -webkit-line-clamp: 1;
            }
          }
        }
      }
    }

    .keyword_wrap {
      border-top: 0;
    }
  }
}
