@import "~/assets/scss/_mo_mixin";

@include mo_749 {
}

#wrap {
  min-width:initial;
}

:deep(.title_wrap) {
  max-width:initial;
  margin:3.0rem 0 2.0rem;
  padding:0;
  h2 {
    .badge {
      color:#000;
      font-size:1.2rem;
      background-color:#fff;
      position:static;
      display:flex;
      align-items:center;
      gap:0.5rem;
      transform:initial;
      em {
        color:#2FAF63;
      }
    }
  }
}

:deep(.sub_title_wrap) {
  width:initial;
  max-width:initial;
  margin:3.0rem 0 2.0rem;
  padding:0;
  display:flex;
  justify-content:space-between;
  h3 {
    font-size:1.6rem;
    line-height:2rem;
    position:relative;
    flex:1;
    strong {
      color:#009d5e;
    }
    .badge {
      color:#000;
      font-size:1.4rem;
      font-weight:600;
      position:static;
      display:flex;
      align-items:center;
      gap:0.5rem;
      em {
        color:#666;
        font-size:1rem;
        font-weight:400;
      }
    }
  }
  .btn_link_arrw {
    min-width:1.5rem;
    margin-left:auto;
    position:static;
    &:after {
      margin-top:0.8rem;
    }
  }
  .btn_all {
    height:fit-content;
    padding:0.6rem 0.8rem;
    display:flex;
    align-items:center;
    gap:0 0.3rem;
    em {
      padding:0;
      font-size:1rem;
      font-weight:600;
      line-height:1.2rem;
    }
    &:after {
      content:'';
      display:inline-block;
      width:1.2rem;
      height:1.2rem;
      background:url('/_nuxt/assets/mo_images/common/icon_split.png') no-repeat -23rem -10rem;
      background-size:25rem auto;
    }
  }
}

:deep([class*="title_wrap"]) {
  .pdtSortTab_wrap {
    margin-top:0;
    button {
      font-size:1.2rem;
      &:after {
        width:1.6rem;
        height:1.6rem;
        margin-left:0.5rem;
        background-size:25rem;
        background-position:-11rem -6rem;
      }
    }
  }
  .sortTab ~ button {
    margin-left:2rem;
    padding-left:0;
    &:before {
      display:none;
    }
    &:after {
      background-position:-13rem -6rem;
    }
  }
}

/* goodsItem */
:deep(.goods_item) {
  padding-bottom:calc(24px + 1rem);
  .img_wrap {
    position:static;
    &:before {
      display:none !important;
    }
    .thumb {
      width:16.5rem;
      height:22.0rem;
    }
    .btnIconBox {
      background-color:transparent;
      position:absolute;
      bottom:0;
      gap:1rem;
      justify-content:start;
      transform:translateY(0);
      button {
        padding:0;
        em {
          width:24px;
          height:24px;
          background-image:url('~/assets/mo_images/common/icon_split.png');
          background-size:250px auto;
        }
        &.btn_heart em {
          background-position:-140px -40px;
        }
        &.btn_cart em {
          background-position:-170px -40px;
        }
        &.btn_buy em {
          background-position:-200px -40px;
        }
      }
    }
  }
  &.sold_out, &.coming_soon {
    .img_wrap {
      a {
        position:relative;
        &:before, &:after {
          content:'';
          display:block;
        }
        &:before {
          background-color:rgba(0,0,0,0.3);
          background-position:50%;
          background-repeat:no-repeat;
          position:absolute;
          top:0;
          right:0;
          bottom:0;
          left:0;
          z-index:1;
        }
      }
    }
  }
  &.sold_out {
      .img_wrap a:before {
          background-image:url('/_nuxt/assets/images/ui/overlay_soldout.png');
      }
    }
    &.coming_soon {
      .img_wrap a:before {
          background-image:url('/_nuxt/assets/images/ui/overlay_comingsoon.png');
      }
    }
  .cont {
    > .price {
      margin-top:0.6rem;
      margin-bottom:1rem;
      strong {
        margin-right:0.5rem;
        font-size:1.4rem;
      }
      span {
        font-size:1.2rem;
      }
      em {
        font-size:1rem;
        display:block;
      }
    }
    .name {
      font-size:1.4rem;
      strong {
        color:#000;
        overflow:hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        .cate {
          margin:0;
        }
      }
    }
    .review_score {
      margin-top:1.0rem;
      font-size:1.0rem;
    }
    .sticker em {
      padding:3px 5px;
      font-size:1rem;
    }
  }
}
/* //goodsItem */

/* eventitem */
:deep(.event_item) {
  .item {
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    .thumb {
      width:160px;
      padding-top:0;
      em {
        position:static;
      }
    }
    .cont {
      height:auto;
      margin-top:0;
      padding:0 2rem;
      display:flex;
      flex:1;
      flex-direction:column-reverse;
      strong {
        margin-top:0;
        font-size:1.4rem;
      }
      .date {
        margin-top:1.6rem;
        font-size:1.2rem;
      }
      .sticker {
        padding:0.2rem 0.5rem;
        font-size:1rem;
      }
    }
  }
}
/* //eventitem */

/* liveitem */
:deep(.live_item) {
  .img_wrap {
    .thumb {
      height:auto;
      padding-top:133.333333%;
      position:relative;
      & > em {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
      }
    }
    .notice {
      padding:1rem;
      font-size:1.2rem;
      line-height:1.6rem;
    }
    .event_item {
      right:1rem;
      bottom:1rem;
      left:1rem;
      .thumb {
        width: 3.6rem;
        height: 4.8rem;
      }
      .cont {
        padding:1rem 0.8rem 1rem 1rem;
        strong {
          font-size:1.2rem;
          line-height:1.6rem;
        }
      }
    }
  }
  .cont {
    .name {
      padding-top: 1.5rem;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
    button em {
      font-size:1rem;
    }
  }
}
/* //liveitem */

/* hash */
:deep(.hash) {
  button {
    font-size:1rem;
  }
}


/* 토픽 아이콘 스타일(조회수, 좋아요수, 댓글수, 시계(날짜)) */
:deep(.post_icons) {
  margin-top: 1rem;
  padding-top: 1rem;
  gap: .4rem;
  border-top: 1px solid #f5f5f5;
  align-items: center;
  display: flex;

  .i {
    font-size: 1.2rem;
    color: #888;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    flex: 1;

    &:before {
      content: '';
      width: 1.6rem;
      height: 1.6rem;
      background-image: url('/assets/mo_images/common/icon_split.png');
      background-repeat: no-repeat;
      background-size: 25rem auto;
    }

    &.view:before {
      background-position: 0 -10.5rem;
    }

    &.like:before {
      background-position: -2rem -10.5rem;
    }

    &.cmnt:before {
      background-position: -4rem -10.5rem;
    }

    &.clock:before {
      background-position: -19rem -10rem;
    }
  }
}
/* //토픽 아이콘 스타일 */


/* 텍스트 링크 with 오른쪽 화살표 */
:deep(.btn_link_arrw) {
  font-size: 1.2rem;
  &:after {
    width: .8rem;
    height: .8rem;
  }
}
/* //텍스트 링크 with 오른쪽 화살표 */

/* icon button */
:deep(button) {
  &.tooltip {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: 0.5rem;
    background-image:url('~/assets/mo_images/common/icon_split.png');
    background-size:25rem auto;
    background-position:-23rem -2rem;
  }
}

/* 일치하는 상품 X */
:deep(.no_content) {
  font-size:1.5rem;
  font-weight:600;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  &:before {
  content:'';
  width:6rem;
  height:6rem;
  margin:2rem 0;
  background:url('/_nuxt/assets/mo_images/common/icon_split.png') no-repeat -6.5rem -10rem;
  background-size:25rem auto;
  display:block;
  }
}


/* input component */
:deep(.label_wrap) {
  label.input {
    i {
      font-size: 1.4rem;
      left: 2.1rem;
      top: 50%;
    }
  }

  label.input input[type='text'],
  label.input input[type='password'],
  label.input input[type='number'] {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  input[type=text],
  input[type=email],
  input[type=number],
  input[type=tel],
  input[type=password],
  input[type=url],
  input[type=search],
  input[type=file],
  textarea{
    height: 4.8rem;
    padding: 0 2.1rem;
  }
}



/* 포스트 리스트 */
/** 격자형 **/
:deep(.post_list) {
  gap: 3rem .3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;

  li {
    width: 16.5rem;
  }
}
/** 리스트형 **/
:deep(.post_list_vertial) {
  margin-bottom: 3rem;

  li {
    & + li {
      margin-top: 2.5rem;
    }
  }
}
/* //포스트 리스트 */


/* 에디터 마크 */
:deep(.mark_editor) {
  gap: .2rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2rem;
  color: #00BC70;
  display: inline-flex;
  align-items: center;

  &:before {
    content: '';
    width: 2rem;
    height: 2rem;
    background: url('~/assets/mo_images/common/icon_split.png') -20.8rem -9.8rem / 25rem auto no-repeat;
    display: inline-block;
    padding: .2rem;
  }
}

:deep(.list_wrap) {
  .allChk_wrap {
    margin:1rem 0;
  }
  .type_default {
    border-top:1px solid #f5f5f5;
    border-bottom:1px solid #eee;
    .row {
      margin-top:3rem;
      margin-bottom:3rem;
      padding:0;
      position:relative;
      display:block;
    }
  }
}

/* cart list */
:deep(.cart_list) {
  .cell {
    &.del {
      position:absolute;
      top:0;
      right:0;
    }
    &.check {
      margin:0.2rem 0 0.7rem;
    }
  }
  .pdt_img {
    width:6.9rem;
    float:left;
    .thumb {
      padding-top:133.333333%;
      position:relative;
      display:block;
      em {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
      }
    }
  }
  .pdt_info {
    margin-right:0;
    flex:1;
    .name {
      display:flex;
      flex-direction:column-reverse;
      a {
        font-size:1.4rem;
        letter-spacing: -0.01em;
        white-space: normal;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .alt {
        margin-top:0;
        margin-bottom:1rem;
        display:flex;
        flex-wrap:wrap;
        gap:0.3rem;
        span {
          padding:0.2rem 0.5rem;
          color:#00BC70;
          font-size:1rem;
          font-weight:400;
          background-color:#E0FBF0;
          display:inline-block;
        }
      }
      &:after {
        clear:both;
        content:'';
        display:block;
      }
    }
    .select {
      margin-top:20px;
      display:block;
      &:before {
        clear:both;
        content:'';
        display:block;
      }
    }
  }
  .addOrder {
    margin-top:1rem;
    > li {
      padding:1.5rem;
      background-color:#F7F9FA;
      position:relative;
      & + li {
        margin-top:0.3rem;
      }
      .title {
        & + .opt_wrap {
          margin-top:1rem;
        }
      }
      .opt_wrap {
        text-align:right;
        display:flex;
        align-items:center;
      }
      button.del {
        width:2rem;
        height:2rem;
        background-color:#d4e2dd;
        border-radius:50%;
        position:absolute;
        top:1rem;
        right:1rem;
        &:before, &:after {
          width:1.3rem;
          margin-top:-0.05rem;
          margin-left:-0.6rem;
          border-color:#fff;
        }
      }
    }
  }
  .count {
    width:auto;
    display:flex;
    flex-direction:column;
    .count_wrap {
      width:10.0rem;
      padding:0.7rem;
      background-color:#fff;
      border:0.1rem solid #eee;
      display:flex;
      button {
        width:1.6rem;
        height:1.6rem;
        background-color:#fff;
        em {
          padding:0;
          color:#000;
        }
        &.icon_del {
          display:none !important;
        }
      }
      input {
        height:1.6rem;
        padding:0;
        border:0;
        text-align:center;
      }
    }
  }
  .price {
    margin-left:auto;
    align-items:end;
    p, .point {
      text-align:right;
    }
    p {
      display:flex;
      align-items:center;
      flex-direction:row-reverse;
      strong {
        font-size:1.6rem;
        white-space:nowrap;
        em {
          font-size:1.3rem;
        }
      }
    }
    .point {
      margin:0 0.5rem 0;
      color:#009D5E;
      font-size:1.2rem;
    }
    span {
      margin-bottom:0;
      color:#d72137;
      font-size:1.3rem;
    }
    button {
      em {
        font-size:12px;
      }
    }
  }
}
